In [12]:
import pandas as pd
import numpy as np
import webbrowser # serve para abrir páginas no navegagor padrão
from imdb import IMDb

In [13]:
column_name = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('ml-latest-small/ratings.csv')

In [14]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
movie_title = pd.read_csv('ml-latest-small/movies.csv')

In [16]:
movie_title.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
df = pd.merge(df, movie_title, on='movieId')

In [18]:
df.head()

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama

In [19]:
links_imdb = pd.read_csv('ml-latest-small/links.csv')
links_imdb.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [20]:
df = pd.merge(df, links_imdb, on ='movieId')

In [21]:
df.head()

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,112792,9909.0
1,7,31,3.0,851868750,Dangerous Minds (1995),Drama,112792,9909.0
2,31,31,4.0,1273541953,Dangerous Minds (1995),Drama,112792,9909.0
3,32,31,4.0,834828440,Dangerous Minds (1995),Drama,112792,9909.0
4,36,31,3.0,847057202,Dangerous Minds (1995),Drama,112792,9909.0

# Pegar Data Frame de usario x item = rating

In [22]:
df = df.transpose()

In [23]:
matriz = {}
for x in df:
    matriz.setdefault(df[x]['userId'], {})
    matriz[df[x]['userId']][df[x]['movieId']] = float(df[x]['rating'])

matriz = pd.DataFrame(data = matriz);

In [24]:
matriz = matriz.transpose()

matriz;

In [25]:
#Criando uma nova lista para usuário e adicionando na Matriz
lista = pd.DataFrame(data = matriz.loc[matriz.shape[0]])

lista = lista.replace(lista, pd.np.nan)

lista = lista.rename(columns = {lista.columns[0]: lista.columns[0]+1})

matriz = matriz.append(lista.transpose())
matriz;

In [26]:
#Como remover o último elemento da matriz
# matriz = matriz.drop(matriz.index[matriz.index[::-1][0]-1])
# matriz

# Tentando pegar links do data_set

In [27]:
test_links = links_imdb.transpose()
# test_links
links10 = test_links.transpose().head()
links10 = links10.transpose()
links10
# for x in test_links:
#     print("0" + str(int(test_links[x]['imdbId'])))

                0         1         2         3         4
movieId       1.0       2.0       3.0       4.0       5.0
imdbId   114709.0  113497.0  113228.0  114885.0  113041.0
tmdbId      862.0    8844.0   15602.0   31357.0   11862.0

### link padrao http://www.imdb.com/title/tt0(put-Imdblink-of-data-set-here)

In [28]:
url = 'http://www.imdb.com/title/tt0'
for x in links10:
    webbrowser.open_new_tab(url + str(int(links10[x]['imdbId'])))

# Testes com IMDB PY

In [29]:
ia = IMDb()

In [30]:
toy_story = ia.get_movie('0114709')

2018-04-16 04:24:24,647 CRITICAL [imdbpy] /home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/_exceptions.py:32: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'http://www.imdb.com/title/tt0114709/plotsummary', 'proxy': '', 'exception type': 'IOError', 'original exception': timeout('timed out',)},); kwds: {}
Traceback (most recent call last):
  File "/home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/parser/http/__init__.py", line 177, in retrieve_unicode
    content = uopener.read(**kwds)
  File "/home/wdsrocha/anaconda3/lib/python3.6/tempfile.py", line 483, in func_wrapper
    return func(*args, **kwargs)
  File "/home/wdsrocha/anaconda3/lib/python3.6/http/client.py", line 456, in read
    return self._readall_chunked()
  File "/home/wdsrocha/anaconda3/lib/python3.6/http/client.py", line 566, in _readall_chunked
    value.append(self._safe_read(chunk_left))
  File "/home/wdsrocha/anaconda3/lib/python3.6/http/client.py", line 612, in _safe_read
    chunk = self.fp.read(min(amt, MAXAMOUNT))
  File "/home/wdsrocha/anaconda3/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
socket.timeout: timed out
2018-04-16 04:24:24,851 CRITICAL [imdbpy] /home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/__init__.py:711: caught an exception retrieving or parsing "plot" info set for mopID "0114709" (accessSystem: http)
Traceback (most recent call last):
  File "/home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/parser/http/__init__.py", line 177, in retrieve_unicode
    content = uopener.read(**kwds)
  File "/home/wdsrocha/anaconda3/lib/python3.6/tempfile.py", line 483, in func_wrapper
    return func(*args, **kwargs)
  File "/home/wdsrocha/anaconda3/lib/python3.6/http/client.py", line 456, in read
    return self._readall_chunked()
  File "/home/wdsrocha/anaconda3/lib/python3.6/http/client.py", line 566, in _readall_chunked
    value.append(self._safe_read(chunk_left))
  File "/home/wdsrocha/anaconda3/lib/python3.6/http/client.py", line 612, in _safe_read
    chunk = self.fp.read(min(amt, MAXAMOUNT))
  File "/home/wdsrocha/anaconda3/lib/python3.6/socket.py", line 586, in readinto
    return self._sock.recv_into(b)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/__init__.py", line 706, in update
    ret = method(mopID)
  File "/home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/parser/http/__init__.py", line 425, in get_movie_plot
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'plotsummary')
  File "/home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/parser/http/__init__.py", line 379, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "/home/wdsrocha/anaconda3/lib/python3.6/site-packages/imdb/parser/http/__init__.py", line 208, in retrieve_unicode
    'original exception': e}
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'http://www.imdb.com/title/tt0114709/plotsummary', 'proxy': '', 'exception type': 'IOError', 'original exception': timeout('timed out',)}

In [38]:
x = "<img src='" + toy_story['cover url'] + "' style='height:100px;'>"
x

"<img src='https://ia.media-imdb.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SX101_CR0,0,101,150_.jpg' style='height:100px;'>"

In [42]:
movies.T.head()

NameError: name 'movies' is not defined

In [32]:
print(ia.get_movie_infoset())

['airing', 'akas', 'alternate versions', 'awards', 'connections', 'crazy credits', 'critic reviews', 'episodes', 'external reviews', 'external sites', 'faqs', 'full credits', 'goofs', 'keywords', 'locations', 'main', 'misc sites', 'news', 'official sites', 'parents guide', 'photo sites', 'plot', 'quotes', 'release dates', 'release info', 'reviews', 'sound clips', 'soundtrack', 'synopsis', 'taglines', 'technical', 'trivia', 'tv schedule', 'video clips', 'vote details']

In [33]:
toy_story['director']

In [34]:
filmes = ia.search_movie('500')

In [35]:
summer = ia.get_movie(1022603)

In [36]:
summer['cover url']

'https://ia.media-imdb.com/images/M/MV5BMTk5MjM4OTU1OV5BMl5BanBnXkFtZTcwODkzNDIzMw@@._V1_SX101_CR0,0,101,150_.jpg'